.baseBtn {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

div.baseBtn:hover {
  background: #ffbc00;
}

.btnLight {
  color: #333;
  background: #f4f4f4;
}

.bolderText {
  font-weight: bolder;
}

.btnLi {
  padding: 1rem 1.5rem;
}

.btnLink {
  color: white;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  cursor: pointer;
}

.btnCurrent {
  border-color: #ffbc00;
}

.btnLink:hover {
  border-color: #c88d8d;
}

@media (max-width: 500px) {
  .btnLi {
    padding: 0.55rem;
  }
}
