.mainNavContainer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .mainNavContainer {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }
}
