/*Global Styles*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

h1 {
  font-family: "Dosis", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
